.projects {
  overflow-y: scroll;
  gap: 1vw;
  min-height: 100vh;
  margin: 0 auto;
  width: 100%;
  padding-bottom: 10rem;
  margin-top: 3rem;
}

@media(max-width: 425px){
  .projects{
      p {
        font-size: 1rem !important;
        line-height: 1.3;
        text-align: justify;
      }
    }
  
}