.menu {
  position: fixed;
  top: 1rem;
  height: fit-content;
  left: 50%;
  margin: 0 auto;
  transform: translateX(-50%);
  background-color: #ffffff34;
  padding: 0.5rem 3rem;
  border-radius: 100px;
  transition: 1s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
  width: 80%;
  max-width: 50rem;
  animation: openMenu 2s ease-out;
  transform-origin: 0%;
  z-index: 10;
  backdrop-filter: blur(8px);
  filter: drop-shadow(1px 1px 3px solid rgba(0, 0, 0, 0.2));
  & * {
    user-select: none;
  }
  &:hover {
    background-color: #ffffff17;
    &__icons {
      color: #ffffff17;
    }
    & svg {
      transition: fill 0.5s, scale 0.3s;
      fill: #ffffff40;
    }
    & span {
      color: #ffffff40;
      transition: color 0.5s;
    }
  }
  &__icons {
    display: flex;
    width: 100%;
    justify-content: space-between;
    fill: #ffffffbb;
    opacity: 0;
    animation: fadeIn 2s forwards;
    animation-delay: 0.5s;
    &--icon {
      text-decoration: none;
      color: #ffffff40;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      text-align: center;
      & svg {
        transition: all 0.2s;
        fill: #ffffff40;
      }
      &:hover {
        & span {
          transition: all 0.5s;
          color: #fff;
        }
        & svg {
          scale: 1.2;
          fill: #fff;
        }
      }
    }
  }
  &.centered{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  & a.active{
    span{
      color: #fff !important;
    }
    svg{
      fill: #fff !important;
    }
  }
}

@keyframes openMenu {
  0% {
    opacity: 0;
    width: 0;
  }
  100% {
    opacity: 1;
    width: 80%;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media(max-width: 768px){
  .menu{
    padding: .3rem 2rem;
    width: 90%;
    svg{
      scale: 1 !important	;
    }
  }
}
@media(max-width: 425px){
  .menu{
    padding: 0 1rem;
    width: 95%;
    font-size: .8rem;
    svg{
      scale: .8 !important	;
    }
  }
}